**Python Data Types, Type Casting & Variables**

**Text Type:** str

**Numeric Types:** int, float

**Sequence Types:** list, tuple, range

**Mapping Type:** dict

**Set Types:** set

**Boolean Type:** bool

In [5]:
name = 'mathavan'           # str = string
age = 21                    # int = integer
percent = 90.2              # float
print(type(name))
print(type(age))
print(type(percent))

<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
student = ['mathavan', 21, 90.2]            # you can edit the list values
print(type(student))

<class 'list'>

In [7]:
student = ('mathavan', 21, 90.2)            # you can't edit the list values
print(type(student))

<class 'tuple'>

In [8]:
print(range(5))

range(0, 5)

In [9]:
student = {'Name': 'Rishika', 'Age': 21, 'Percent':90.2}     #dict = x:y
                                                             # x = keys , y = values
print(type(student))

<class 'dict'>

In [10]:
student = {'mathavan', 21, 90.2}           # random output
print(type(student))

<class 'set'>

In [13]:
print(bool(0))                            # bool is a True or False statement
print(bool(5))

False
True