### **List and it's Methods**

Lists are used to store multiple items in a single variable.

       • Lists are used to store multiple items in a single variable.

       • It is a collection which is ordered, changeable and allows duplicate members.

**List Methods**

append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()

In [2]:
# APPEND

fruits = ['apple', 'cherrry', 'banana']          # It will add the new value into the list

fruits.append("orange")

print(fruits)

['apple', 'cherrry', 'banana', 'orange']

In [3]:
# SORT

fruits = ['apple', 'cherrry', 'banana']          # It will sort the list values from alphabetical orders
                                                 # If its a numbers sort from digit values
fruits.sort()

print(fruits)

['apple', 'banana', 'cherrry']

In [4]:
# REVERSE

fruits = ['apple', 'cherrry', 'banana']          # It will reverse the list values

fruits.reverse()

print(fruits)

['banana', 'cherrry', 'apple']

In [5]:
# REMOVE

fruits = ['apple', 'cherrry', 'banana']          # It will remove the value given

fruits.remove("banana")

print(fruits)

['apple', 'cherrry']

In [6]:
# POP

fruits = ['apple', 'cherrry', 'banana']          # It will remove the given element from the list values

fruits.pop(1)                                    # Positive elements = 0, 1, 2, 3, 4, 5
                                                 # Negative elements = -1, -2, -3, -4, -5
print(fruits)

['apple', 'banana']

In [ ]:
# INSERT

fruits = ['apple', 'cherrry', 'banana']          # It will insert the given value into the given element
fruits.insert(1, "watermelon")

print(fruits)

### **Difference Between Append and Insert**

**Append :**

In append method you can add the given value inside the list but it
will be added on the last.


**Insert :**

In insert method you can add the given value into any element you need.

In [ ]:
# INDEX

fruits = ['apple', 'cherrry', 'banana']          # It will show the element number of the given value
fruits.index("cherry")

print(fruits)

In [13]:
# EXTEND
                                                            # You can use the extend method for add the two lists into one
fruits = ['apple', 'cherrry', 'banana']
fruits1 = ['pineapple', 'strawberry', 'guava', 'cherry']

fruits.extend(fruits1)

fruits

['apple', 'cherrry', 'banana', 'pineapple', 'strawberry', 'guava', 'cherry']

In [16]:
# COUNT

fruits.count("cherry")                           # It will count how many times the given value present in the list

1

In [17]:
# COPY

fruits_copy = fruits.copy()                      # It will create the copy of the oreginal list

In [19]:
# CLEAR
                                                 # It will delete the all values from the list completely
fruits.clear()

fruits

[]