# **Syntax Errors**

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-2-a314491c53bb>, line 2)

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-4-a4dba24e2a47>, line 3)

# **variable names**

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-6-0e82719f22b4>, line 1)

# **Global Variables**

In [ ]:
x = "mathavan"

def myfunc():
  print("my name is "+ x)

myfunc()

my name is mathavan

In [ ]:
x = "mathavan"

def myfunc():
  x = "vijay"
  print("my name is "+ x)

myfunc()

print("my name is "+ x)

my name is vijay
my name is mathavan

In [ ]:
def myfunc():
  global x
  x = "mathavan"

myfunc()

print("my name is " + x)

my name is mathavan

In [ ]:
x = "vijay"

def myfunc():
  global x
  x = "mathavan"

myfunc()

print("my name is " + x)

my name is mathavan

In [ ]:
print('''hello
world''')

hello
world

\t its a escape characters

In [ ]:
print('hello','world')  # , give space for each character

hello world

In [ ]:
print('hello','world',sep = '_')  # for give the seperate character like _

hello_world

In [ ]:
print('hello','world',sep = '_', end = '\t')  # end give a space for the two
print('mathavan')

hello_world	mathavan

In [ ]:
if 10>5:
  print('True')

True

In [ ]:
if (10>5) and (2>1):
  print('Correct')

Correct

In [ ]:
if (10>5) and (2>4):  # and statement print if the 2 conditions are true only
  print('Correct')

In [ ]:
if (10>5) or (2>4):  # but or statement print if the any of 1 conditions are true
  print('Correct')

Correct

In [ ]:
a = 10

if a==10:
  print('True')
else:
  print('False')

True

In [ ]:
for i in range(0,7):  # range(initial,final)
  print('mathavan', i)

mathavan 0
mathavan 1
mathavan 2
mathavan 3
mathavan 4
mathavan 5
mathavan 6

In [ ]:
for i in range(0,10,2):  # range(initial,final,step)
  print('mathavan', i)

mathavan 0
mathavan 2
mathavan 4
mathavan 6
mathavan 8

In [ ]:
i = 50
while i<500:
  print(i)
  i = i+50

50
100
150
200
250
300
350
400
450

# **Jump Statments**

In [ ]:
for i in range(0,10):  # continue statement jump from the condition number
  if i ==8:
    continue
  print(i)

0
1
2
3
4
5
6
7
9

In [ ]:
# break statement will break the print after the condition are met

for i in range(0,10):
  if i ==5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,10):  # after the break the else are executed printed
  print(i)
else:
  print('Else Are Executed')

0
1
2
3
4
5
6
7
8
9
Else Are Executed

In [ ]:
exe = [1,2,3,4,5]  # indexing
print(exe[3])

4

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series()

<ipython-input-2-399a7d257b44>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [ ]:
# Array

a = np.array([10,20,30,40])
s = pd.Series(a, index = (1,2,3,4))
s

1    10
2    20
3    30
4    40
dtype: int64

In [ ]:
# List

l = [10,20,30,40]
s = pd.Series(l)
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# Dictionary

d = {'a':10, 'b':20, 'c':30, 'd':40}
s = pd.Series(d)
s

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
def __init__(self):
self.x = 1
self.__y = 1

def getY(self):
return self.__y

val = Test()
print(val.__y)

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-1-1bdb333f68d6>, line 2)