**Python Operators**

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Membership operators

In [18]:
# Arithmetic Operators (+, -,*,/,%, **)                                  #used with numeric values to perform a common mathematical problems

x = 5
y = 8

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

13
-3
40
0.625
5
390625

In [26]:
# Assignment Operators (=,+=,=,*=,/=,=, **=)                              #used to assign values to variables

x, y = 5, 8

# print(x = y, x += y, x = y, x *= y, x %= y, x /= y, x **= y)

x += y          # x = x + y
print(x)

x -= y          # x = x - y
print(x)

x *= y          # x = x * y
print(x)

x /= y          # x = x / y
print(x)

x %= y          # x = x % y
print(x)

x **= y         # x = x ** y
print(x)

13
5
40
5.0
5.0
390625.0

In [28]:
# Comparison Operators (==,!,<, >, <=,>=)                                    # Used to compare two values

x, y = 5, 8

# print(x == y, x = y, x < y, x > y, x <= y, x >= y)

print(x == y)     # equel to

print(x != y)     # not equel to

print(x < y)      # less then

print(x > y)      # greater then

print(x <= y)     # less then equel to

print(x >= y)     # greater then equel to

False
True
True
False
True
False

In [36]:
# Logical Operators (==,!,<, >, <=,>=)                                    # Used to combine conditional statements

# print(x and y, x or y, not y)

print((x<y) and (x != y))               # if both conditions are true
print((x<y) or (x != y))                # if any one condition are true

True
True

In [40]:
# Membership Operators (==,!=, <, >, <=,>=)                                # Used to test if a sequence is presented in an object

# print(x in y, x not in y)

x = [1, 2, 3, 4, 5]
y = 4

print(y in x)

print(y not in x)

True
False