### **Python Conditional Statements**

*   If, elif, else statements

In [41]:
a, b = 33, 200

if b > a:

 print("b is greater than a")

b is greater than a

**2 Conditions**

In [43]:
aman, vinod = 50, 62

if vinod > aman:
 print("vinod scores greater than aman")

elif aman == vinod:
 print("Both scores equally")

vinod scores greater than aman

In [44]:
aman, vinod = 50, 50

if vinod > aman:
 print("vinod scores greater than aman")

elif aman == vinod:
 print("Both scores equally")

Both scores equally

**3 Conditions**

In [46]:
aman, vinod = 50, 67

if vinod > aman:
 print("vinod scores greater than aman")
elif aman == vinod:
 print("Both scores equally")
else:
 print('aman scores greater than vinod')

vinod scores greater than aman

In [47]:
aman, vinod = 50, 50

if vinod > aman:
 print("vinod scores greater than aman")
elif aman == vinod:
 print("Both scores equally")
else:
 print('aman scores greater than vinod')

Both scores equally

In [48]:
aman, vinod = 80, 50

if vinod > aman:
 print("vinod scores greater than aman")
elif aman == vinod:
 print("Both scores equally")
else:
 print('aman scores greater than vinod')

aman scores greater than vinod

**Nested If**

In [52]:
marks = 40
if marks > 35:
 print("He is Pass")
 if marks > 60:
  print("He is in Distinction")
 else:
  print("He is in Mid Range")
else:
 print("Sadly, He is Fail")

He is Pass
He is in Mid Range

In [53]:
marks = 80
if marks > 35:
 print("He is Pass")
 if marks > 60:
  print("He is in Distinction")
 else:
  print("He is in Mid Range")
else:
 print("Sadly, He is Fail")

He is Pass
He is in Distinction

In [54]:
marks = 20
if marks > 35:
 print("He is Pass")
 if marks > 60:
  print("He is in Distinction")
 else:
  print("He is in Mid Range")
else:
 print("Sadly, He is Fail")

Sadly, He is Fail