### **String and it's Methods**

All string methods returns new values. They do not change the original string.
String Methods

**String Methods**

*   isalpha(), isalnum(), index(), find(), count(), capitalize(), isdigit(),islower(), isnumeric()

*   endswith(), upper(), title(), swapcase(), strip(), startswith(), split(), join(), lower(), replace()

In [20]:
# CAPITALIZE

txt = "hello, and welcome to our course."                              # It will capitalize the first letter of the sentence

a = txt.capitalize()

print(a)

Hello, and welcome to our course.

In [21]:
# COUNT

txt = "I am from India and born in Tamilnadu, India"                   # It will count the number of values given

b = txt.count("India")

print(b)

2

In [22]:
# FIND

txt = "I love apples, apple are my favorite fruit"                     # It will find the given value inside the list
                                                                       # Space also countable
c = txt.find("apple")

print(c)

7

In [24]:
# INDEX

txt = "I love apples, apple are my favorite fruit"                   # It will also like find

d = txt.index("apple")

print(d)

7

In [26]:
# SPLIT

txt = "hello, my name is Peter, I am 26 years old"                   # It will split the whole sentence into a small pieces based on the condition

e = txt.split(',')

print(e)

['hello', ' my name is Peter', ' I am 26 years old']

In [27]:
# ISALNUM                                                            # isalnum = alpha numeric

txt = "Company12"

name = txt.isalnum()

print(name)

True

In [30]:
# ISALPHA                                                            # isalpha = only alphabetic ( letteres )

txt = "CompanyX"

alpha = txt.isalpha()

print(alpha)

True

In [29]:
# ISDIGIT                                                            # isdigit = only digit ( Numbers )

txt = "50800"

num = txt.isdigit()

print(num)

True

In [31]:
# JOIN                                                               # It will join all the strings into one sentence
                                                                     # "_" = Seperate value
names = ["John", "Peter", "Vicky"]

joined = "_".join(names)

print(joined)

John_Peter_Vicky

In [33]:
# REPLACE                                                            # It will replace the old value into a new value
                                                                     # replace("old" , "new")
txt = "I love sports"

result = txt.replace("sports", "cricket")

print(result)

I love cricket

In [37]:
# STARTWITH                                                          # If the string start with the given condition get the answer

txt = "Hello, welcome to my world"

start = txt.startswith("Hello")

start

True

In [39]:
# ENDWITH                                                            # If the string end with the given condition get the answer

txt = "Hello, welcome to my world."

end = txt.endswith(".")

end

True